@model IEnumerable<CamposDealer.ControleVendas.Db.Venda>
@{
    ViewData["Title"] = "Vendas";
}

<div class="text-center">
    <h1 class="display-4">Vendas</h1>

</div>

<div class="row justify-content-center">

    <div class="col-11 col-md-10 div-container">

        <div class="col-12 justify-content-end text-right">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Voltar</a>
            <a class="btn btn-info" asp-controller="Venda" asp-action="Create">Novo</a>
        </div>
        <div class="col-12 div-table">
            <table class="table table-striped" id="tableVenda">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Valor Unitario</th>
                        <th>Data Venda</th>
                        <th>Valor Venda</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var venda in Model)
                    {
                        <tr data-idVenda="@venda.Id">
                            <td class="td_nome">@venda.Cliente.Nome</td>
                            <td>@venda.Produto.Nome</td>
                            <td class="text-right">@venda.QuantidadeProduto</td>
                            <td class="text-right">@venda.ValorUnitario</td>
                            <td>@venda.DataVenda</td>
                            <td class="text-right">@venda.ValorVenda</td>
                            <td style="width: 80px;">
                                <i class="cursor-pointer" onclick='editarVenda(this)'><img class='iconedit' src='~/Icons/edit-2.svg' /></i>
                                <i class="cursor-pointer" onclick='excluirVenda(this)'><img class='icondelete' src='~/Icons/trash-2.svg' /></i>
                            </td>
                        </tr>
                    }                    
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal_excluir">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
        
      <div class="modal-body" id="modal_body">
        
      </div>
      <div class="modal-footer">
          <input type="hidden" id="modal_ipt_id"/>
        <button type="button" class="btn btn-info" onclick="ConfirmarExclusao()">Sim</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>

<script src="~/js/Venda/index.js"></script>